# Default ignored files
/shelf/
/workspace.xml
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

# environment variables
.env

# python virtual environments
venv/
.venv/

# python cache
__pycache__/
*.pyc

# node modules
node_modules/

# build files
dist/

.env
PythonProject/Back-end/.env